/* BASIC STYLES HERE */
body {
  background-position: center;
  background-size: cover;
}

input {
  border: none;
  border-bottom: 1px solid white;
}


.playwrite-nz {
  font-family: "Playwrite NZ", cursive;
}

.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

.widgets {
  margin-top: 3em;
  padding: .75em;
  background-color: rgba(63, 62, 62, 0.8);
  backdrop-filter: blur(5px);
  border-radius: 25px;
}


#time {
  font-size: 1em;
}

#quotes {
  margin-top: 8em;
}

.quote {
  color: white;
  font-size: 2em;
  text-shadow: 3px 1px black;
}

.author {
  color: white;
  font-size: 16px;
  text-shadow: 2px 1px black;
  display: none;
}

.quote:hover {
  cursor: pointer;
}

.quote:hover+.author {
  display: block;
}

.todos {
  background-color: rgba(63, 62, 62, 0.8);
  backdrop-filter: blur(5px);
  border-radius: 25px;
  color: white;
  height: 20em;
}

.todo-title {
  border-bottom: 1px solid white;
}

.checkbox {
  margin-top: .5em;
  height: 25px;
  width: 25px;
}

.todo-input {
  background-color: rgba(63, 62, 62, 0.8);
  color: white;
  height: 35px;
  width: 275px;
  font-size: 16px;
  gap: .5em;

}