/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

.widgets {
  margin-top: 3em;
  padding: .75em;
  background-color: rgba(63, 62, 62, 0.8);
  backdrop-filter: blur(5px);
  border-radius: 25px;
}

body {
  background-position: center;
  background-size: cover;
}

#time {
  font-size: 1.25em;
}

#quotes {
  margin-top: 10em;
  background-color: rgba(155, 155, 155, 0.168);
}

.quote {
  color: white;
  font-size: 2em;
}