<section class="container">
    <div class="row justify-content-between widgets">
        <div class="col-3 text-light weather" id="weather-button">
            <!-- <button class="fs-3 btn btn-outline-light">Weather</button>  -->
        </div>
        <div class="col-3 text-center text-light fs-1">
            <p id="time"></p> 
        </div>
        <div class="col-3 fs-3">
            <p class="text-end text-light">To-Do's</p> 
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-center playwrite-nz quotes" id="quotes">
                <!-- <div>
                    <p class="fs-5">Quote</p>
                    <p class="author">- Author</p>
                </div> -->
            </div>
        </div>
    </div>
</section>

